body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #012677 0%, #003b9f 60%, #00b4fc 100%)
    center/cover no-repeat;
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

/* Header */
@media (min-width: 320px) {
  body {
    display: grid;
    grid:
      "header" minmax(5rem, 15rem)
      "main" 1fr
      "main" 1fr
      "footer" minmax(50rem, 85rem)
      / 1fr;
  }

  .header {
    grid-area: header;
    display: flex;
    position: relative;
    animation: sugir-cima 1s ease-in-out;
  }

  .header .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }

  /* Logo do Header */

  .header .header-container a {
    font-size: 11rem;
    display: flex;
    color: var(--color-accent);
    transition: 0.3s all ease-in;
    justify-content: center;
    margin: 3rem 0 0 -1rem;
  }

  .header .header-container a:hover {
    transform: translate3d(0.1rem, -10%, 1rem);
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }

  /* Menu Hamburguer do Header */

  .header .header-container .header-nav .menu {
    width: 60px;
    height: 60px;
    align-self: flex-end;
  }

  .header .header-container .header-nav label {
    background-color: var(--color-text-links);
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border-bottom: 1px solid var(--color-text-link-light);
  }

  .header .header-container .header-nav label .menu .hamburguer {
    background-color: var(--color-text-link-light);
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    left: 1.5rem;
    top: 2.9rem;
    transition: 0.5s ease-in-out;
  }

  .header .header-container .header-nav label .menu .hamburguer::before,
  .header .header-container .header-nav label .menu .hamburguer::after {
    background-color: var(--color-text-link-light);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
  }

  .header .header-container .header-nav label .menu .hamburguer::before {
    top: -10px;
  }

  .header .header-container .header-nav label .menu .hamburguer::after {
    bottom: -10px;
  }

  .header .header-container .header-nav input {
    display: none;
  }

  .header .header-container .header-nav input:checked ~ label .hamburguer {
    transform: rotate(45deg);
  }

  .header
    .header-container
    .header-nav
    input:checked
    ~ label
    .hamburguer::before {
    transform: rotate(90deg);
    top: 0;
  }

  .header
    .header-container
    .header-nav
    input:checked
    ~ label
    .hamburguer::after {
    transform: rotate(90deg);
    bottom: 0;
  }

  /* Links dentro da lista do nav */

  .header .header-container .header-nav .nav-list .list-link .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: var(--color-text-links);
    margin: 0.5rem;
    padding: 1rem 1rem;
    transition: 0.3s all ease-in-out;
    font-size: 1.5rem;
    text-align: center;
  }

  .header .header-container .header-nav .nav-list .list-link .link:hover {
    color: var(--color-text-link-light);
    transform: scale(1.03);
    background-color: var(--color-highlight);
    border-radius: 2rem;
  }

  .header .header-container .header-nav .nav-list .list-link .link {
    color: var(--color-text-link-light);
  }

  .header .header-container .header-nav .nav-list {
    display: none;
  }

  .header .header-container .header-nav input:checked ~ ul {
    display: block;
  }

  .header .header-container .header-nav .nav-list {
    background-color: var(--color-text-links);
    padding: 1rem;
  }

  .header .header-container .header-nav .nav-list .list-link a {
    text-align: center;
    display: block;
  }
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid:
      "header header" minmax(5rem, 15rem)
      "main main" 1fr
      "main main" 1fr
      "footer footer" minmax(50rem, 85rem)
      / 1fr 1fr;
  }
}

@media (min-width: 1366px) {
  .header .header-container {
    padding: 3rem 11rem;
  }
}

/* Main */
@media (min-width: 320px) {
  .main {
    grid-area: main;
    width: 100%;
    min-height: 90vh;
    animation: surgir 1s ease-in-out;
  }

  /* Main seção info */

  .main .main-secao-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 5rem 0 17rem;
    padding: 0 3rem;
  }

  .main .main-secao-info .info-perfil {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .main .main-secao-info .info-perfil .perfil-link {
    background: url("../image/image-perfil/perfil.jpg") top 10% center/cover
      no-repeat;
    border: solid 0.5rem var(--color-accent);
    min-width: 25rem;
    min-height: 25rem;
    max-width: 65rem;
    max-height: 65rem;
    border-radius: 100%;
    margin: 3rem auto;
    box-shadow: 1rem 1rem 3rem var(--color-dark);
    transition: all 0.5s ease-out;
    animation: surgir-direita 1s ease-in-out;
  }

  .main .main-secao-info .info-perfil .perfil-link:hover {
    transform: scale(1.05);
    border: solid 0.5rem var(--color-highlight);
  }

  .main .main-secao-info .secao-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation: surgir-esquerda 1s ease-in-out;
  }

  .main .main-secao-info .info-titulo {
    font-size: 2.7rem;
    margin: 0 auto;
    padding: 1rem 0rem;
    color: var(--color-text-title);
    font-weight: 700;
  }

  .main .main-secao-info .info-titulo .titulo-destaque {
    font-size: 2.7rem;
    color: var(--color-accent);
    font-weight: 700;
  }

  .main .main-secao-info .padrao-titulo {
    font-size: 2.3rem;
    color: var(--color-text-title);
    font-weight: 700;
  }

  .main .main-secao-info .padrao-texto {
    margin: 2rem 0;
  }

  .main .main-secao-info .secao-info .info-botoes {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
    margin-top: 2rem;
  }

  .main .main-secao-info .secao-info .info-botoes .botao {
    background-color: var(--color-accent);
    color: var(--color-text-link-light);
    border: none;
    transition: 0.2s ease-in-out;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }

  .main .main-secao-info .secao-info .info-botoes .botao:hover {
    background-color: var(--color-highlight);
    transform: scale(1.05);
  }

  .main .main-secao-sobre {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: sugir-baixo 1s ease-in-out;
  }

  .main .main-secao-sobre .secao-sobre {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 7rem 0;
    padding: 0 3rem;
  }

  .main .main-secao-sobre .padrao-titulo {
    font-size: 3rem;
    color: var(--color-text-subtitle);
  }

  .main .main-secao-sobre .padrao-texto {
    margin: 0 auto;
    color: var(--color-text-main);
  }

  .main .main-secao-conhecimentos {
    width: 100%;
    min-height: 70vh;
    animation: sugir-baixo 1s ease-in-out;
  }

  .main .main-secao-conhecimentos .secao-conhecimentos {
    margin: 0 auto;
    text-align: center;
    margin: 7rem 0 11rem;
  }

  .main .main-secao-conhecimentos .secao-conhecimentos .padrao-titulo {
    font-size: 3rem;
    margin-bottom: 7rem;
    color: var(--color-text-subtitle);
  }

  .main .main-secao-conhecimentos .secao-conhecimentos .conhecimentos-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    li
    a {
    font-size: 13rem;
  }

  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-html
    a {
    color: #ff4500;
  }

  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-css
    a {
    color: #3bf2ff;
  }

  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-js
    a {
    color: #ffff00;
  }

  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-git-hub
    a {
    color: #1f1f1f;
  }

  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-git
    a {
    color: #e44203;
  }

  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-html
    a
    i,
  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-css
    a
    i,
  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-js
    a
    i,
  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-git-hub
    a
    i,
  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-git
    a
    i {
    transition: 0.3s all ease-in-out;
    padding-bottom: 1rem;
  }

  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-html
    a
    i:hover,
  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-css
    a
    i:hover,
  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-js
    a
    i:hover,
  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-git-hub
    a
    i:hover,
  .main
    .main-secao-conhecimentos
    .secao-conhecimentos
    .conhecimentos-list
    .icon-git
    a
    i:hover {
    transform: scale(1.05);
    border-bottom: #fff 0.1rem solid;
  }

  .main .main-secao-projetos {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0rem 7rem;
    background: var(--color-bg);
    text-align: center;
    animation: sugir-cima 1s ease-in-out;
  }

  .main .main-secao-projetos .padrao-titulo {
    color: var(--color-text-subtitle);
    font-size: 3rem;
    margin: 3rem 0 7rem;
  }

  .main .main-secao-projetos .secao-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    padding: 0 3rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main .main-secao-projetos .secao-projetos .projeto-card {
    background-color: var(--color-card);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px var(--color-dark);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .main .main-secao-projetos .secao-projetos .projeto-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px var(--color-dark);
  }

  .main .main-secao-projetos .secao-projetos .projeto-card img {
    width: 100%;
    height: 21rem;
    border-bottom: var(--color-bg) 0.1rem solid;
  }

  .main .main-secao-projetos .secao-projetos .projeto-card h3 {
    margin: 1rem;
    font-size: 2rem;
    color: var(--color-text-links);
  }

  .main .main-secao-projetos .secao-projetos .projeto-card p {
    margin: 0 2rem 1rem;
    color: var(--color-text-main);
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .main .main-secao-projetos .secao-projetos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main .main-secao-projetos .secao-projetos .projeto-card {
    display: flex;
    flex-direction: column;
    width: 45%;
    display: flex;
  }
}

@media (min-width: 1366px) {
  .main .main-secao-info {
    flex-direction: row-reverse;
  }

  .main .main-secao-info .info-perfil .perfil-link {
    width: 45rem;
    height: 45rem;
  }

  .main .main-secao-sobre .secao-sobre .padrao-texto {
    padding: 0 15rem;
    margin-bottom: 9rem;
  }

  .main .main-secao-conhecimentos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Footer */
@media (min-width: 320px) {
  .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: sugir-baixo 1s ease-in-out;
    padding: 7rem 0 0;
  }

  .footer .footer-contatos {
    text-align: center;
  }

  .footer .footer-contatos .padrao-titulo {
    margin-bottom: 7rem;
    color: var(--color-text-subtitle);
    font-size: 3rem;
  }

  .footer .footer-contatos .contatos-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }

  .footer .footer-contatos .contatos-list .icons-sociais {
    display: flex;
    flex-direction: column;
    transition: 0.3s all ease-in-out;
  }

  .footer .footer-contatos .contatos-list .icons-sociais a p {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-text-links);
    margin-bottom: 0.5rem;
  }

  .footer .footer-contatos .contatos-list .icons-sociais a p:hover {
    color: var(--color-highlight);
  }

  .footer .footer-contatos .contatos-list .icons-sociais a {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 7rem;
  }

  .footer .footer-contatos .contatos-list .icons-sociais:hover {
    transform: translateY(-4px);
  }

  .footer .footer-contatos .contatos-list .icons-sociais a i {
    font-size: 7rem;
    margin-bottom: 1rem;
  }

  .footer .footer-contatos .contatos-list .icons-sociais a .fa-envelope {
    color: #f7f7f7;
  }

  .footer .footer-contatos .contatos-list .icons-sociais a .fa-whatsapp {
    color: #00d111;
  }

  .footer .footer-contatos .contatos-list .icons-sociais a .fa-linkedin {
    color: #2cabff;
  }

  .footer .footer-contatos .contatos-list .icons-sociais a .fa-github {
    color: #000000;
  }

  .footer .footer-direitos {
    display: flex;
    width: 100%;
    height: 15rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .footer .footer-direitos .padrao-texto {
    font-size: 1.7rem;
    color: var(--color-text-subtitle);
  }

  .footer .footer-direitos .padrao-texto a {
    font-size: 1.7rem;
    color: var(--color-text-subtitle);
  }

  .footer .footer-direitos .padrao-texto a:hover {
    color: var(--color-highlight);
  }
}

@media (min-width: 768px) {
  .footer .footer-contatos .contatos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer .footer-contatos .contatos-list .icons-sociais a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1366px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer-contatos .contatos-list {
    justify-content: baseline;
    align-items: center;
    height: 100%;
    flex-direction: row;
    justify-content: center;
  }
}

/* Animações */
@keyframes sugir-cima {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
  }
}

@keyframes sugir-baixo {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
  }
}

@keyframes surgir-direita {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes surgir-esquerda {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Padrões de texto */

.padrao-titulo {
  font-size: 2.5rem;
  color: var(--color-text-subtitle);
  font-weight: 700;
}

.padrao-texto {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 1em;
  color: var(--color-text-main);
}
